/Magazijnrobot/build/
Magazijnrobot/build.xml
Magazijnrobot/nbproject/build-impl.xml
Magazijnrobot/nbproject/genfiles.properties
Magazijnrobot/nbproject/private/private.properties
Magazijnrobot/nbproject/private/private.xml
Magazijnrobot/nbproject/project.properties
Magazijnrobot/nbproject/project.xml